<div class="foods">
  <table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
    <% @recipes.each do |recipe| %>
      <% recipe.foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.quantity %></td>
          <td><%= food.price %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>