/* Recipe */
body {
  width: 100vw;
  background-color: #fbeaeb;
  color: #2f3c7e;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.foods {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.recipe {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  margin-bottom: 24px;
  border: #2f3c7e solid 1px;
  border-radius: 10px;
}

.decription {
  display: flex;
  align-items: center;
  width: 50%;
}

.btn-primary {
  background-color: rgb(37, 95, 241);
}

form {
  width: 80%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  border: #2f3c7e solid 1px;
  border-radius: 10px;
  border-collapse: collapse;
}

td form,
th form {
  width: 100%;
  padding: 0;
  margin-bottom: 0;
}

table tr form,
.public form {
  border: none;
  margin: 12px 0;
}

.rec-name form {
  padding: 0;
  min-height: 0;
  border: none;
}

.public input {
  width: 35px;
  height: 35px;
}

.rec-name input,
.rec-new-submit input,
.btn-danger,
.btn-primary {
  color: #fff;
  min-width: 150px;
  max-width: 300px;
  padding: 0 8px;
  height: 40px;
  border: none;
  border-radius: 7px;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-wrapper {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.action-wrapper form {
  /* margin-bottom: 12px; */
  margin: 0;
}

.action-wrapper .btn {
  width: 80%;
  font-weight: 500;
}

.action-wrapper a.btn {
  height: 20px;
  padding: 8px 0;
  margin-bottom: 12px;
}

.field input {
  border: #000 solid 1px;
  border-radius: 5px;
}

.rec-name input:hover,
.rec-new-submit input:hover,
.btn-danger:hover,
.btn-primary:hover {
  background-color: #fff;
  color: #2f3c7e;
  border: #2f3c7e solid 1px;
}

.form-warpper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field-wrapper {
  width: 100%;
  display: flex;
  padding: 12px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form .field {
  width: 80%;
  height: 40px;
  margin: 12px;
  display: flex;
  justify-content: left;
}

.checkbox-wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.checkbox-wrapper .checkbox {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

input.field {
  height: 35px;
  border-radius: 5px;
}

.label {
  display: flex;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.wrapper {
  width: 80%;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border: #2f3c7e solid 1px;
  border-radius: 10px;
}

table {
  border-collapse: collapse;
  border-radius: 10px;
  border: #fff solid 2px;
  margin-bottom: 50px;
}

.foods th {
  background-color: rgb(72, 162, 226);
}

.foods td,
.foods th {
  width: 255px;
  height: 100px;
  border: green solid 2px;
  text-align: center;
  font-weight: 700;
}

.table {
  width: 84%;
}

.detail-buttons {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

.add-food {
  border: none;
}

.add-food th {
  background-color: transparent;
  border: none;
}

.update-th {
  background-color: rgb(72, 162, 226);
  border: green solid 2px;
}

a {
  text-decoration: none;
  color: #2f3c7e;
}

.actions {
  padding: 12px;
}

.edit-form,
.add-rec {
  width: calc(80% + 30px);
}

.add-rec {
  display: flex;
  justify-content: right;
  margin-bottom: 30px;
}
