/* Recipe */
body {
    width: 100vh;
    background-color:#fbeaeb;
    color: #2f3c7e;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: red solid 2px;
}
.recipe {
    width: 80%;
    margin-bottom: 24px;
    border: #2f3c7e solid 1px;
    border-radius: 10px;
}


